#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EEEE;
}
main{
    flex-grow: 1;
}
.banner-section{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.banner-image{
    height: 500px;
    object-fit: cover;
}
.img-categoria{
    width: 170px;
    height: 320px;
}
.img-recetas{
    width: 140px;
    height: 260px;
}
.img-login{
    width: 100%;
    height: 400px;
    border-radius: 10px;
}
.modal-login {
  max-width: 400px;
  width: 90%;
  margin: auto;
}
.img-registro{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.detalle-recetas{
    background-color: #fff8e7;
}
/*media query para dispositivos mobile*/
@media(max-width: 576px){
    .banner-image{
        height: 300px;
    }
    .img-login{
        object-fit: cover;
        height: 350px;
    }
}
/*media query para tablets*/
@media(min-width: 768px) and (max-width: 1024px){
    .modal-login{
        max-width: 750px !important;
    }
}