#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EEEE;
}
main{
    flex-grow: 1;
}
.banner-section{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.banner-image{
    height: 500px;
    object-fit: cover;
}
.img-categoria{
    width: 170px;
    height: 320px;
}

/*media query para dispositivos mobile*/
@media(max-width: 576px){
    .banner-image{
        height: 300px;
    }
}